/* Alapstílusok - Mobile-first */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fekete háttér */
    color: #F5F5F5; /* Törtfehér szöveg */
    text-align: center;
}

header {
    padding: 20px;
}

h1 {
    color: #F5F5F5; /* Törtfehér cím */
    font-size: 2.5rem;
}

p {
    color: #F5F5F5; /* Törtfehér üdvözlő szöveg */
}

.flower {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    position: relative;
    margin-top: 50px;
}

.petal {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid #F5F5F5; /* Törtfehér szegély */
    border-radius: 50%;
    margin: 10px;
    font-size: 1rem;
    color: #F5F5F5; /* Törtfehér felirat */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.petal:hover {
    background-color: #F5F5F5;
    color: #000; /* Fekete szöveg */
}

.content-section {
    background-color: #F5F5F5; /* Törtfehér háttér */
    color: #000; /* Fekete betűk */
    padding: 20px;
    display: none;
    position: relative;
}

.content-section.active {
    display: block;
}

.content-section .back-home {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #000; /* Fekete háttér */
    color: #F5F5F5; /* Törtfehér gomb */
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 1rem;
}

footer {
    background-color: #000;
    padding: 20px;
    color: #F5F5F5;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Reszponzív design - nagyobb kijelzőkre */
@media(min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    .petal {
        width: 150px;
        height: 150px;
        font-size: 1.2rem;
    }
}
