/* General styling */
body {
  background-color: black;
  font-family: "Courier New", monospace;
  color: white;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: #c49a6a;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

nav ul {
  display: none;
  list-style-type: none;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
}

/* Rhombus styling */
#rhombuses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.rhombus {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 2px solid white;
  color: #c49a6a;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  cursor: pointer;
  margin: 10px;
}

/* Section styling */
section {
  padding: 20px;
}

.hidden {
  display: none;
}

/* Media Queries */
@media (min-width: 768px) {
  #introduction {
    float: left;
    width: 50%;
  }

  #contact {
    float: right;
    width: 50%;
  }

  nav ul {
    display: flex;
    gap: 15px;
  }

  .rhombus {
  width: 200px;
  height: 200px;

  .hamburger-menu {
    display: none;
  }
}
